body{
  padding-top:85px;
}

.footergap{
height:135px;
min-height:135px;
}



  .navlogo{
    font-family: 'Libre Baskerville', serif !important;
    font-size:2.7rem !important;
  }

#collapsingNavbar3{
    font-family: 'Libre Baskerville', serif !important;
    font-size:1.5rem !important;
    font-weight:400 !important;
}

.nav-item{
    font-weight:400;
    font-size: clamp(20px, 1.5vw, 1.8rem);
}

.nav-item.active{
    font-weight:600;
    font-size: clamp(21px, 1.6vw, 2.2rem);
}



.navgap{
  height:90px;
}




#profile {
    margin-top: 80px;
    max-width: 500px;
  }
  
  #profile-bio {
    width: 100%;
    padding: 25px;
    border-radius: 5px;
  }
  
  #profile-photo {
    border-radius: 50%;
    border: 5px solid #333333;
    width: 150px;
    margin-top: -110px;
  }

  .slide-body {
    min-height: 300px;
    height:50vh !important;
    width:30vw !important;
    
    min-width: 300px !important;
    margin-right: 5px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    position:relative;
    overflow:hidden;
    border-radius:15px !important;
    margin:10px;
    
}



.projects{
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}



.rounded-3{
    overflow:hidden;
}

.card-wrapper{
  width:100%;
}

.heroimagecard:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slide-body:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cardinfo{
    position:absolute;
    bottom:0;
    left:-.1rem;
    overflow:hidden;
    width:calc(100% + .1rem);
    background:rgba(0,0,0,0.5);
    color:white;
    padding:2rem;
    text-align:center;
    font-size:1.2rem;
    text-transform:uppercase;
    letter-spacing:1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    Text-align:left;
    max-height: calc(73px + 1.2rem);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s !important;
    border-radius:15px;
}

.cardinfo:hover{
    background:rgba(0,0,0,0.7);
    max-height: 100%;
    -webkit-transition: height 2s;
    -moz-transition: height 2s;
    -o-transition: height 2s;
    transition: height 2s;
    transition: background 1s;
}

.cardinfo h3{
    font-size: clamp(17px, 2.36vw, 35px);
    height:63px;
    font-weight:700;
    margin-bottom:0px;
    text-transform: none;
}

.cardinfo p{
    font-size:1rem;
    font-weight:400;
    margin-bottom:0px;
    display:block;
    text-transform: none;
}

.cardinfo ul li{
    font-size: clamp(14px, 2vw, 22px);
    font-weight:400;
    margin-bottom:0px;
    text-transform: none;
}

.cardinfo ul li{

    list-style-type: circle !important;
}

.cardinfo:hover> p{
    display:block;

}


#cards {
    overflow-x:scroll !important;
    flex:auto;
}

@media (hover: hover) {
  #cards {
    overflow: hidden !important;
    cursor: grab;
  }
  #cardsinner {
    cursor: grab;
  }
}

#cardsinner {
    width:210%;
    flex:auto;
}

.social-icons{

    min-width:125px !important;
    display: flex;
    min-height:64px;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content:space-around;

  }
  
.social-icons p{
  
  margin-bottom:0px !important;
  width:65px;
  height:65px;
  justify-content:center;
  align-items:center;
}

.social-icons p a{
  display:block;
  margin-bottom:0px !important;
  width:65px;
  height:65px;
  text-decoration: none;
}
.social-icons p a i{
  display:flex;
  margin-bottom:0px !important;
  width:65px;
  height:65px;
}


  .social-icons .fa {
    width:65px;
    height:65px;
    justify-content:center;
    align-items:center;
    font-size: 2.5em;
    text-align: center;
    color: #fdbbaf;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .social-icons .fa:hover,
  .social-icons .fa:active {
    font-size: 4em;
  }

  .social-icons .fab {
    font-size: 2.5em;
    justify-content:center;
    align-items:center;
    color: #fdbbaf;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .social-icons .fab:hover,
  .social-icons .fab:active {
    font-size: 4em;
  }

  span.blockspam {
    display: none;
  }





/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}





  .workbackground{
    height: 100%;
    width:100%;
  z-index:-1 !important;
  top: 0px;
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center center;
  }



#aboutbox{
  max-width:1200px !important;
}

 .workbackground, .contentwrapper  {
    
  background-size:cover;
        -webkit-animation: slidein 20s;
        animation: slidein 20s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: center; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: center;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}